<div class="openSubQuestion">
  <p class="openSubQuestion__text" (click)="openSubscribe()">
    {{ questionString }}
  </p>
</div>
<section class="subQuestion" [ngClass]="open ? 'open' : 'close'">
  <form
    [formGroup]="createQuestion"
    (ngSubmit)="submitQuestion()"
    class="subQuestion__form"
  >
    <label for="Titre">Votre question</label>
    <input
      type="text"
      formControlName="title"
      class="subQuestion__form--input"
    />
    <label for="Contenu">Dites en plus</label>
    <textarea
      name="Contenu"
      id="Contenu"
      cols="40"
      rows="10"
      formControlName="content"
      class="subQuestion__form--input"
    ></textarea>

    <label for="Language">Choisissez un langage</label>
    <select name="language" id="Language" formControlName="language">
      <option value="JavaScript">JavaScript</option>
      <option value="Java">Java</option>
      <option value="Python">Python</option>
      <option value="C">C</option>
      <option value="PHP">PHP</option>
    </select>
    <label for="Publier"></label>

    <button
      [disabled]="!createQuestion.valid"
      type="submit"
      class="subQuestion__form--btn"
    >
      + Envoyer
    </button>
  </form>
</section>
