@import '~src/scss/reset';
@import '~src/scss/variable';
@import "~src/scss/mixins";
@import '~src/scss/typo';

.question{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    height: 300px;
    border-bottom: solid 5px $secondairy-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 8px;
    @include radiusBorder;
    transition: all 0.2s;
    position: relative;
    &:hover{
        cursor: pointer;
        background-color: lighten($color: $secondairy-color, $amount: 40%);
    }
    &__info{
        display: flex;
        position: absolute;
        align-items: center;
        
        right: 15px;
        bottom: 15px;
        &--author{
            font-size: 1.2rem;
            margin-right: 7px;
            color: $secondairy-color;
            font-weight: bolder;
            transition: all 0.2s;

            &:hover{
                cursor:pointer;
                color:lighten($color: $secondairy-color, $amount: 20%);
            }
        }
        &--date{
            align-self: center;
            padding-top: 3px;
            font-size: 1rem;
        }
    }
    &__language{
        position: absolute;
        width: 75px;
        @include radiusBorder;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 15px;
        bottom: 15px;
        border: solid 1px $secondairy-color;
        background-color: lighten($color: $secondairy-color, $amount: 30%);
        transition: all 0.2s;
        &--text{
            font-weight: bolder;
            color: darken($color: $secondairy-color, $amount:15%);
            font-size: 1rem;
        }
        &:hover{
            cursor: pointer;
            background-color:  lighten($color: $secondairy-color, $amount: 45%);
        }
      
    }
}
.question__language:hover .question__language--text{
    color:$secondairy-color;
}
.inHomePage{
    height: 110px;
}