<article class="question" [ngClass]="{ inHomePage: homePage }">
  <h2 class="question__title" [routerLink]="['/question', question?.id]">
    {{ question?.title }}
  </h2>
  <p class="question__content" *ngIf="!homePage && !modifyContent">
    {{ question?.content }}
  </p>
  <div class="question__language" [routerLink]="['language']">
    <p
      class="question__language--text"
      (click)="changeCurrentLang(question?.language)"
    >
      {{ question?.language }}
    </p>
  </div>
  <div class="question__info">
    <a class="question__info--author">{{ question?.author }}</a>
    <p class="question__info--date">{{ formatedDate }}</p>
  </div>

  <!-- <p class="question__delete" (click)="deleteButton()">
    <b>Supprimer</b>
  </p> -->
</article>
